* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'Poppins', sans-serif;
    background: #F4F7FC;
    color: #333;

}

header {

    background: #0F4C81;
    color: white;
    padding: 80px 20px;
    text-align: center;

}

header h1 {

    font-size: 50px;

}

header p {

    margin: 20px 0;

}

button {

    background: #00B894;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;

}

button:hover {

    background: #019875;

}

section {

    max-width: 900px;
    margin: auto;
    padding: 50px 20px;

}

h2 {

    margin-bottom: 20px;
    color: #0F4C81;

}

input,
textarea {

    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #CCC;
    border-radius: 5px;

}

footer {

    background: #0F4C81;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;

}

#resultadoCep {

    margin-top: 20px;
    font-weight: bold;
    
}

    .cards {
        padding: 20px 0%;
        background: #f5f7fa;
        text-align: center;
    }

    .cards h2 {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .cards-container{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .card{
        width: calc(33.33% - 10px);
        background: #fff;
        border-radius: 12px;
        padding: 25px;
        box-sizing: border-box;
    }
    .card:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 25px rgba(0, 0, 0, .18);
    }

    .card h3 {
        color: #0d6efd;
        margin-bottom: 15px;
    }

    .card p {
        color: #555;
        line-height: 1.7;
    }